In [1]:
import os

In [2]:
os.listdir()

['.ipynb_checkpoints', 'creditcard.csv', 'Untitled.ipynb']

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv('creditcard.csv')

In [8]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
df.shape

(284807, 31)

In [11]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [18]:
missing = pd.DataFrame(df.isnull().sum())

In [19]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [20]:
# unbalance in dataset distribution

In [31]:
df0 = df[df.Class == 0]

In [32]:
df0.shape

(284315, 31)

In [33]:
df0.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [34]:
df1 = df[df.Class == 1] # fraud dataset

In [35]:
df1.shape

(492, 31)

In [37]:
df1.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [38]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

#### dealing with unbalanced data

##### undersampling

In [43]:
df0 = df0.sample(df1.shape[0])

In [44]:
df0.shape

(492, 31)

In [45]:
df_balanced = pd.concat([df0,df1],axis =0)

In [46]:
df_balanced.shape

(984, 31)

In [52]:
df_balanced.groupby('Class').describe()

        Time                                                                 \
       count          mean           std    min      25%      50%       75%
Class
0      492.0  92452.567073  48180.208263  150.0  50702.0  82004.5  138771.0
1      492.0  80746.806911  47835.365138  406.0  41241.5  75568.5  128483.0

                    V1            ...       V28           Amount              \
            max  count      mean  ...       75%       max  count        mean
Class                             ...
0      171781.0  492.0 -0.027473  ...  0.096232  1.534984  492.0   94.849634
1      170348.0  492.0 -4.771948  ...  0.381152  1.779364  492.0  122.211321


              std  min   25%     50%     75%      max
Class
0      269.887813  0.0  5.43  23.455   75.00  3995.92
1      256.683288  0.0  1.00   9.250  105.89  2125.87

[2 rows x 240 columns]

In [54]:
df_balanced.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [55]:
df_balanced.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
77658,57154.0,1.099333,0.360917,0.725948,2.588127,-0.159981,0.094680,-0.041453,0.124243,-0.349946,...,-0.203263,-0.577428,0.090511,0.030591,0.301958,-0.117438,0.005910,0.021554,18.99,0
1327,1040.0,-1.278296,-0.146482,0.801662,-1.475530,0.220270,-0.234304,0.850142,-0.049401,0.278816,...,0.065533,0.451920,-0.260711,-0.189848,0.676255,0.313575,0.181777,0.196366,149.98,0
16922,28294.0,-1.473042,-0.809176,1.355262,1.348872,1.876427,-1.905857,-0.431945,-0.021131,-0.544683,...,0.307629,0.408083,0.176946,0.345461,-0.162639,-0.331902,0.109284,0.200707,7.99,0
66150,51911.0,0.942054,-0.201781,1.311114,1.201758,-0.297863,1.651879,-0.858639,0.643694,0.787536,...,0.084064,0.618144,0.157419,-0.626831,0.070371,-0.301777,0.147067,0.027787,9.99,0
228687,145609.0,2.307031,-1.455083,-1.068428,-1.823818,-0.936820,0.122079,-1.365867,0.056411,-1.264789,...,-0.162115,-0.010397,0.208820,0.059307,-0.189800,-0.190267,0.010290,-0.057781,9.80,0

#### splitting data

In [62]:
x = df_balanced.drop('Class',axis= 1)
y = df_balanced['Class']

In [63]:
type(x)

pandas.core.frame.DataFrame

In [64]:
type(y)

pandas.core.series.Series

In [69]:
X_train , X_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state=2 , stratify = y)

In [116]:
model = LogisticRegression(penalty = 'l2' , C = 0.1 )

In [117]:
model.fit(X_train , y_train)

LogisticRegression(C=0.1)

In [122]:
train_score = model.score(X_train , y_train)

In [92]:
predicted = model.predict(X_test)

In [121]:
test_score = accuracy_score(y_test,predicted)

In [103]:
m = [153761.0,1.146259,1.403458,-4.159148,2.660107,0.323217,-1.836071,1,0,1,0,1,1,1,1,1,-1,-1.623740,0.259562,-1.132044,0.284831,0.564450,0.445744,-0.141136,-0.265517,0.362260,-0.416062,0.507370,0.243744,51.37]

In [111]:
model.predict(np.asarray(m).reshape(1,-1))

C:\Users\kirol\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1], dtype=int64)